@lottiefiles:registry=https://npm.pkg.github.com
@dotlottie:registry=https://registry.npmjs.org/


//npm.pkg.github.com:always-auth = true
//https://registry.npmjs.org:always-auth = true

save=true
save-exact=true
strict-peer-dependencies=false
shamefully-hoist=true